<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Employees</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>E-mail</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{employee.name}}</td>
          <td>{{employee.lastname}} <br/><small>({{employee.sex}} {{employee.position}})</small></td>
          <td>{{employee.email}}</td>
          <td><button routerLink="/details/{{employee.id}}">Edit</button><br />
            <button (click)="deleteEmployee(employee.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

